.choose-tab {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 20px;
  border: 1px solid #cddbff;;
  border-radius: 5px;
  font-size: 14px;
  padding: 0px 10px;
  margin: 0 0 0 0;
  background-color: white;
  color: #232323;
  &:after {
    position: absolute;
    top:calc(50% - 3px);
    right: 10px;
  }
  &:hover {
    background-color: white;
    border: 1px solid #cddbff;
    outline: none!important;
    box-shadow: none!important;
    color: #232323;
  }

  &:focus {
    border: 1px solid #cddbff!important;
    background-color: white!important;
    outline: none!important;
    box-shadow: none!important;
    color: #232323;
  }
  &:active {

    background-color: white!important;
    border: 1px solid #cddbff!important;
    outline: none!important;
    box-shadow: none!important;
    color: #232323;
  }
  &.dropdown-toggle {
    font-size: 12px;
    background-color: white!important;
    outline: none;
    box-shadow: none;
    color: #232323!important;

  }

}