.btn-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 142px;
    border-radius: 10px;
    border: solid 2px #779eff;
    background-color: #fff;
    color: #232323;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
    transition: all 0.1s ease-in;
    cursor: pointer;

    &.active {
        border-color: #2f6bff;
        background-color: #2f6bff;
    }

    &:hover {
        border-color: #2f6bff;
        background-color: #2f6bff;
        color: white;
    }

    &:focus {
        border-color: #2f6bff;
        background-color: #2f6bff;
        color: white;
    }
}

.btn-date {
    display: flex;
    justify-content: space-around;
}

.btn-main.small {
    width: 35px;
}

.dropdown-toggle.btn {
    width: 142px;
    height: 35px;
    font-size: 14px;
    background-color: transparent;
    color: #232323;
    border-radius: 10px;
    border: solid 2px #779eff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &:focus {
        outline: 0;
        box-shadow: none;
    }
}

.dropdown-limit>.dropdown-toggle.btn {
    width: 58px;
}
.dropdown-expires-in>.dropdown-toggle.btn {
    width: 60px;
}

.dropdown-menu.show {
    border-radius: 10px;
}

.dropdown-item {
    font-size: 14px;
    width: 140px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.dropdown-limit {
    width: 58px;
    .dropdown-menu.show {
        min-width: 56px;
    }
    .dropdown-item {
        width: 56px;
    }
}

.dropdown-expires-in {
    width: 60px;
    .dropdown-menu.show {
        min-width: 60px;
    }
    .dropdown-item {
        width: 60px;
    }
}

.payment-method {
    border-radius: 3px;
    background-color: #0071fb;
    width: 90%;
    height: 26px;
    font-size: 10px;
    color: white;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
}

.paypal {
    font-size: 8px;
    font-style: italic;
    font-weight: 400;
}