.security-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 145px;

    .panel-primary {
        margin: 15px 0 0;
    }

    .previous-scans, .security-scan {
        font-family: Avenir;
        font-size: 21px;
        font-weight: 900;
    }

    .security-scan {
        margin-top: 35px;
    }

    .previous-scans {
        margin-top: 15px;
    }

    hr {
        width: 95%;
        margin: auto;
        margin-top: 25px;
        color: #cddbff;
    }
}