.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
    border-radius: 10px;
    border: solid 2px #779eff;
    background-color: #fff;
    color: #232323;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
    transition: all 0.1s ease-in;
    cursor: pointer;
    &.active {
        background-color: #779eff;
    }
    &:hover {
        background-color: #779eff;
        color: white;
    }
}