.sidebar {
  z-index: 100;
  height: 100%;
  background-color: #232323;
  opacity: 0.93;
  position: fixed;
  left: 0px;
  display: flex;
  flex-direction: column;

  .blackLay {
    z-index: -2;
    position: absolute;
    width: 64px;
    height: 100%;
    background-color: black;
    left: 0px;
  }

  .icon-top {
    height: 56px;
    display: flex;
    align-items: center;
  }

  .icon-middle {
    flex-direction: column;
    margin-top: 46px;
    display: flex;
    gap: 35px;
  }

  .icon-bottom {
    margin-top: auto;
    margin-bottom: 60px;
    display: flex;
  }
  .sidebar-link{
    width: fit-content;
    height: 46px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      z-index: 999;
    }

    .text-wrapper {
      color: white;
      padding: 0px 20px;
      font-size: 14px;
      font-weight: 900;
      text-decoration: none!important;
      cursor: pointer;

      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: #3576ff;
        }
      }
    }

    &:hover, &.active {
      .sidebar-backlay {
        position: absolute;
        top: 0px;
        left: 9px;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        padding: 10px;
        -webkit-filter: blur(8px);
        filter: blur(8px);
        background-color: #4568b3;
        z-index: -1;
      }
      .text-wrapper {
        color: #3576ff;
      }
      a {
        color: #3576ff;

      }
    }
    .icon-wrapper {
      width: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}