.billing-wrapper {
  width: 90%;
  margin: 61px auto 145px auto;
  position: relative;
  
  .ribon {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    top: -18px;
    left: 0;
    height: 19px;
    padding: 1px 20px 4px;
    color: white;
    background-color: #5284ff;
    font-size: 12px;
  }

  .panel-primary {
    display: block;
    height: auto;

    .billing-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .datepicker-wrapper {
        height: 35px;
        .react-datepicker-wrapper {
          width: auto;
          font-size: 14px;

          input {
            width: 100px;
            border: none;
            text-align: center;
            &:focus {
              border: none;
              outline: none;
            }

            &:focus-visible {
              outline: none;
            }
          }
        }

        .react-datepicker__tab-loop {
          z-index: 3;
          position: absolute;
        }
      }

      .button-group {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .billing-search-box {
        width: 30%;
      }

      .btn-main {}
    }

    .MuiPaper-rounded {
      box-shadow: none;

      table {
        th {
          background-color: white;

          span {
            font-size: 14px;
          }
        }

        td {
          font-size: 12px;
        }

        span {
          display: block;
        }

        .payment-method {
          letter-spacing: 0px;
          border-radius: 3px;
          background-color: #0071fb;
          width: 36px;
          height: 26px;
          font-size: 10px;
          color: white;
          font-weight: 900;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .paypal {
          font-size: 8px;
          font-style: italic;
          font-weight: 400;
        }

        .print-icon {
          border: none;
          background-color: transparent;
        }

        .paid {
          color: #37b96b;
        }

        .unpaid {
          color: #ff6d6d;
        }

        .tab-icon {
          display: inline;
          margin-left: 11px;
        }
      }
    }
  }
}