.header {
  width: 100%;
  height: 5.2rem;
  background-color: #2E6AFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  // position: fixed;
  .logo {
    font-family: Avenir, sans-serif;
    font-display: initial;
    font-size: 3.8rem;
    font-weight: 700;
    color: #fff;
  }
}
