.navbar {
  margin-left: 64px;
  height: 5.2rem;
  box-shadow: 0 3.4px 2.7px 0 rgba(202, 202, 202, 0.09), 0 8.7px 6.9px 0 rgba(202, 202, 202, 0.06), 0 17.7px 14.2px 0 rgba(202, 202, 202, 0.05), 0 36.5px 29.2px 0 rgba(202, 202, 202, 0.04), 0 100px 80px 0 rgba(202, 202, 202, 0.03);
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

}